<div class="col-xs-12 col-12 mb-3">
    <div id="slideShowBody" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#slideShowBody" data-bs-slide-to="0" class="active" id="control-slide"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#slideShowBody" data-bs-slide-to="1" id="control-slide"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#slideShowBody" data-bs-slide-to="2" id="control-slide"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div data-bs-interval="1000" class="carousel-item active">
                <img src="https://fptshop.com.vn/uploads/originals/2021/7/31/637633703456131299_vuotmuadich-thumb.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div data-bs-interval="1000" class="carousel-item">
                <img src="https://fptshop.com.vn/uploads/originals/2021/6/1/637581879179938677_giaohangtannha-thumb.png"
                    class="d-block w-100" alt="...">
            </div>
            <div data-bs-interval="1000" class="carousel-item">
                <img src="https://fptshop.com.vn/uploads/originals/2021/5/27/637577248211685123_giasoccuoituan-21-23-thumb.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slideShowBody" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slideShowBody" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>