<div class="row mt-3" id="test">
    <div class="col-12 col-md-4 col-lg-3 mb-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title"> Lập trìnhAndroid</h5>
                <p class="card-text">Lập trình Android nâng cao</p>
                <a href="./question.html" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/12.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title"> Lập trình Android</h5>
                <p class="card-text">Lập trình Android cơ bản</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/1.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Kiểm thử Android</h5>
                <p class="card-text">Lập trình JavaScript cơ bản</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Design Android</h5>
                <p class="card-text">Thiết kế UI trên Android</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">ASP.NET</h5>
                <p class="card-text">Lập trình ASP.NET</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Cloud VPN</h5>
                <p class="card-text">Điện toán đám mây</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">SQL Server</h5>
                <p class="card-text">MS SQL Server</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Database</h5>
                <p class="card-text"> Cơ sở dữ liệu</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Lập trình game</h5>
                <p class="card-text">Lập trình game 2D</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">HTML5 và CSS3</h5>
                <p class="card-text">Xây dựng trang web </p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">IM</h5>
                <p class="card-text">Internet Marketing</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Lập trình java</h5>
                <p class="card-text">Lập trình Java nâng cao</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Lập trình java</h5>
                <p class="card-text">Lập trình OOP với Java</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <p class="card-text">Lập trình JavaScript</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">Thiết kế layout</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Web Mobile Designer</h5>
                <p class="card-text">Thiết kế web cho di động</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Lập trình PHP</h5>
                <p class="card-text">Lập trình PHP</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Agile</h5>
                <p class="card-text">Quản lý dự án với Agile</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">Lập trình VB.NET</h5>
                <p class="card-text">Lập trình VB.NET</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card md-3">
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/2.png" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">HTML & CSS</h5>
                <p class="card-text">Xây dựng trang web</p>
                <a href="" class="btn btn-sm btn-danger">Thi thử</a>
                <a href="" class="btn btn-sm btn-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>